<h1>Upravit účet</h1>

<%= form_with(model: @user, url: user_url(@user), method: :patch) do %>
  <div class="ui card">
    <div class="image">
      <img src="<%= @user.avatar_url %>">
    </div>
    <div class="content ui form">
      <div class="field">
        <%= label_tag "Jméno a příjmení" %>
        <%= text_field :user, :name, placeholder: 'Nepovinné' %>
      </div>
      <div class="meta">
        <small class="hash"><%= @user.username %></small>
      </div>
    </div>
    <div class="extra content">
      <%= submit_tag "Uložit změny", class: 'ui button primary' %>
    </div>
  </div>

<% end %>