<h1>Správa uživatelů</h1>
<p>Celkem registrováno <%= @users.count %> uživatelů</p>

<hr>

<table class="ui celled table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Avatar</th>
      <th>Školní xname / hash</th>
      <th>Jméno</th>
      <th>Aktivní účet?</th>
      <th>Admin?</th>
      <th>Ban?</th>
      <th>Akce</th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr <% if user.is_admin %> class="red" <% end %>>
      <td><%= user.id %></td>
      <td><img src="<%= user.avatar_url %>" class="ui mini avatar image"></td>
      <td><b><%= user.username %></b></td>
      <td><%= user.name.presence || "-" %></td>
      <td><%= user.is_verified ? "ANO" : "NE" %></td>
      <td><%= user.is_admin ? "ANO" : "NE" %></td>
      <td><%= user.is_banned ? "ANO" : "NE" %></td>
      <td>
        <%= link_to 'Zobrazit', user_url(user), class: 'ui button' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>