<div class="row">
  <div class="col-sm-12 col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center justify-content-start">
          <div class="card-title ms-4">
            <img src="<%= @user.avatar_url 128 %>" alt="Generated avatar">
            <h3><%= @user.display_name %></h3>
            <hr>
            <% if @user.is_admin %>
              <p class="fw-bold text-danger">Administrátor</p>
            <% elsif @user.is_banned %>
              <p class="fw-bold text-danger">Banovaný uživatel</p>
            <% elsif @user.is_verified %>
              <p class="text-success">Aktivovaný účet</p>
            <% else %>
              <p class="text-danger">Účet čeká na aktivaci</p>
            <% end %>
          </div>

          <%= link_to "Upravit účet", edit_user_url(@user), class: 'btn btn-primary' %>
        </div>

        <hr>

        <% if can? :ban, @user %>
          <% if @user.is_banned %>
            <%= link_to "Odblokovat účet", unban_url(@user), class: "btn btn-primary", data: { confirm: "Opravdu odbanovat uživatele #{@user.display_name}?"} %>
          <% else %>
            <%= link_to "Blokovat účet", ban_url(@user), class: "btn btn-primary", data: { confirm: "Opravdu zabanovat uživatele #{@user.display_name}?"} %>
          <% end %>

          <%= link_to "Smazat účet", user_url(@user), class: "btn btn-danger", data: { confirm: "Opravdu smazat uživatele #{@user.display_name}? Tato akce je nevratná."}, method: :delete %>
        <% end %>
      </div>
    </div>
  </div>
</div>