<div class="row">
  <div class="col-sm-12 col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center justify-content-start">
          <img class="rounded-circle m-2" src="https://s.gravatar.com/avatar/<%= @avatar_url %>?s=128">
          <div class="card-title ms-4">
            <h3><%= @user.display_name %></h3>
            <p class="text-muted"><%= @user.username %>@vse.cz</p>
            <hr>
            <% if @user.is_admin %>
              <p class="fw-bold text-danger">Administrátor</p>
            <% elsif @user.is_banned %>
              <p class="fw-bold text-danger">Banovaný uživatel</p>
            <% elsif @user.is_verified %>
              <p class="text-success">Aktivovaný účet</p>
            <% else %>
              <p class="text-danger">Účet čeká na aktivaci</p>
            <% end %>
          </div>
        </div>

        <hr>

        <% if @user.is_banned %>
          <%= link_to "Odblokovat účet", unban_url(@user), class: "btn btn-primary", data: { confirm: "Opravdu odbanovat uživatele #{@user.display_name}?"} %>
        <% else %>
          <%= link_to "Blokovat účet", ban_url(@user), class: "btn btn-primary", data: { confirm: "Opravdu zabanovat uživatele #{@user.display_name}?"} %>
        <% end %>

        <%= link_to "Smazat účet", user_url(@user), class: "btn btn-danger", data: { confirm: "Opravdu smazat uživatele #{@user.display_name}? Tato akce je nevratná."}, method: :delete %>

      </div>
    </div>
  </div>
</div>