<div class="ui stackable grid">
  <div class="five wide column">
    <div class="ui card">
      <div class="image">
        <img src="<%= @user.avatar_url %>">
      </div>
      <div class="content">
        <a class="header"><%= @user.name.presence || "Anonymní účet" %></a>
        <% if @user.is_admin %>
          <div>Administrátor</div>
        <% elsif @user.is_banned %>
          <div>Banovaný uživatel</div>
        <% elsif @user.is_verified %>
          <div>Aktivovaný účet</div>
        <% else %>
          <div>Účet čeká na aktivaci</div>
        <% end %>
        <div class="meta">
          <small class="hash"><%= @user.username %></small>
        </div>
      </div>
      <div class="extra content">
        <%= link_to "Upravit účet", edit_user_url(@user), class: 'ui button primary' %>
      </div>
    </div>

    <% if can? :manage, @user %>
      <% if @user.is_banned %>
        <%= link_to "Odblokovat účet", unban_url(@user), class: "ui button", data: { confirm: "Opravdu odbanovat uživatele #{@user.display_name}?" } %>
      <% else %>
        <%= link_to "Blokovat účet", ban_url(@user), class: "ui button", data: { confirm: "Opravdu zabanovat uživatele #{@user.display_name}?" } %>
      <% end %>

      <%= link_to "Smazat účet", user_url(@user), class: "ui button red", data: { confirm: "Opravdu smazat uživatele #{@user.display_name}? Tato akce je nevratná." }, method: :delete %>
    <% end %>
  </div>
  <div class="ten wide column">
    <div class="ui placeholder basic segment">
      <div class="ui icon grey header">
        <i class="history icon"></i>
        Tady bude historie nebo IDK
      </div>
    </div>
  </div>
</div>
