<h1>Přihlášení do aplikace</h1>

<div class="row mt-2">
  <div class="col-sm-12 col-md-6">
    <div class="card">
      <div class="card-body">
        <%= form_with url: sign_in_url, method: :post do %>
          <div class="form-group mb-2">
            <%= label_tag :username, "Školní xname" %><br>
            <%= text_field_tag :username, "", class: "form-control",
                                              pattern: "^[a-z0-9]+$",
                                              placeholder: "Např. vrbj04",
                                              autofocus: true,
                                              required: true %>
          </div>

          <div class="form-group mb-2">
            <%= label_tag :password, "Heslo" %>
            <%= password_field_tag :password, "", class: "form-control", required: true %>
          </div>

          <hr>

          <div class="d-grid gap-2">
            <%= submit_tag "Přihlásit se", class: "btn btn-lg btn-primary btn-fluid" %>
          </div>

          <hr>

          <small>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" class="text-decoration-none">
              Zapomenuté heslo?
            </a>
          </small>
        <% end %>
      </div>
      <div class="card-footer">
          <code class="text-black-50 fw-bold">IP: <%= request.remote_ip %></code>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6">
    <div class="text-muted">
      <b>Před prvním přihlášením je potřeba účet aktivovat!</b>
      <p>
        Pokud email s aktivačním odkazem nedorazil, <a href="#new_confirmation_email">nechte si poslat nový.</a>
      </p>
    </div>

    <%= link_to "Registrace nového uživatele", sign_up_url, class: "btn btn-dark"  %>
  </div>
</div>