<h1>Přihlášení do aplikace</h1>

<div class="ui stackable grid">
  <div class="ui eight wide column">
    <div class="ui raised segment">
      <div class="ui form">
        <%= form_with url: sign_in_url, method: :post do %>
          <div class="field">
            <%= label_tag :username, "Školní xname" %>
            <div class="ui right labeled input">
              <%= text_field_tag :username, "", pattern: "^[a-z0-9]+$",
                                 placeholder: "Např. vrbj04",
                                 autofocus: true,
                                 required: true %>
              <div class="ui label">
                @vse.cz
              </div>
            </div>
          </div>

          <div class="field">
            <%= label_tag :password, "Heslo" %>
            <%= password_field_tag :password, "", required: true %>
            <small>
              <a href="<%= reset_password_url %>" class="text-decoration-none">
                Zapomenuté heslo?
              </a>
            </small>
          </div>

          <%= submit_tag "Přihlásit se", class: "ui button primary" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="eight wide column">
    <div class="ui warning message">
      <div class="header">Před prvním přihlášením je potřeba účet aktivovat!</div>
      <p>
        Pokud email s aktivačním odkazem nedorazil,
        <a href="<%= new_verification_url %>">nechte si poslat nový.</a>
      </p>
    </div>

    <%= link_to "Registrace nového uživatele", sign_up_url, class: "ui button" %>
  </div>
</div>