<h1>Registrace nového uživatele</h1>

<div class="ui stackable grid">
  <div class="eight wide column">
    <div class="ui raised segment">
      <div class="ui form">
        <%= form_with model: @user, url: sign_up_url, method: :post do %>
          <div class="field">
            <%= label_tag "Školní xname" %>
            <div class="ui right labeled input">
              <%= text_field :user, :username, class: "form-control", pattern: "^[a-z0-9]+$", required: true, placeholder: 'Např. vrbj04' %>
              <div class="ui label">
                <div class="text">@vse.cz</div>
              </div>
            </div>
          </div>

          <div class="field">
            <%= label :user, :name, "Jméno a příjmení" %>
            <div class="ui input">
              <%= text_field :user, :name, class: "form-control", placeholder: "Nepovinné" %>
            </div>
          </div>

          <div class="field">
            <%= label :user, :password, "Heslo" %>
            <div class="ui input">
              <%= password_field :user, :password, class: "form-control", minlength: 8, required: true %>
            </div>
            <small class="text-muted">Minimálně 8 znaků</small>
          </div>

          <% unless Rails.env.production? %>
            <div class="field">
              <%= label :user, :hcaptcha, "Ochrana proti robotům" %>
              <%= hcaptcha_tags class: "mt-2", theme: :light %>
            </div>
          <% end %>

          <div class="d-grid gap-2">
            <%= submit_tag "Registrovat se", class: "btn btn-lg btn-primary btn-fluid" %>
          </div>
        <% end %>
      </div>
      <div class="card-footer">
        <code class="text-black-50 fw-bold">IP: <%= request.remote_ip %></code>
      </div>
    </div>
  </div>

  <div class="eight wide column">
    <div class="ui info message">
      <div class="header">Po registraci je potřeba účet aktivovat!</div>
      <p>
        Po registraci bude na email <b>username@vse.cz</b> odeslán odkaz pro aktivaci účtu. <br>
        Teprve až po kliknutí na něj se zpřístupní přihlášení do portálu.
      </p>
    </div>

    <%= link_to "Přihlášení jako registrovaný uživatel", sign_in_url, class: "ui button" %>
  </div>
</div>
