<div class="ui segment">
  <div class="content">
    <div class="ui form">
      <%= form_with(model: discord_server) do |form| %>
        <% if discord_server.errors.any? %>
          <div id="error_explanation">
            <b><%= pluralize(discord_server.errors.count, "error") %> prohibited this Discord server from being
              saved:</b>

            <ul>
              <% discord_server.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= form.label :embed_url %>
          <div class="ui input">
            <%= form.text_field :embed_url %>
          </div>
        </div>

        <div class="field">
          <%= form.label :invite_url %>
          <div class="ui input">
            <%= form.text_field :invite_url %>
          </div>
        </div>

        <div class="field">
          <%= form.label :priority %>
          <div class="ui input">
            <%= form.number_field :priority %>
          </div>
        </div>

        <div class="actions mt-3 form-group">
          <%= form.submit 'Uložit', class: "ui button primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>