<p id="notice"><%= notice %></p>

<h1>Discord Servers</h1>

<table>
  <thead>
    <tr>
      <th>Embed url</th>
      <th>Priority</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @discord_servers.each do |discord_server| %>
      <tr>
        <td><%= discord_server.embed_url %></td>
        <td><%= discord_server.priority %></td>
        <td><%= link_to 'Show', discord_server %></td>
        <td><%= link_to 'Edit', edit_discord_server_path(discord_server) %></td>
        <td><%= link_to 'Destroy', discord_server, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Discord Server', new_discord_server_path %>
