<%= image_tag @discord_server.embed_url %>

<div class="mt-3">
  <p>
    <strong>Embed url:</strong>
    <%= @discord_server.embed_url %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= @discord_server.priority %>
  </p>
</div>

<%= link_to 'Back', discord_servers_path, class: 'btn btn-secondary' %>
<%= link_to 'Edit', edit_discord_server_path(@discord_server), class: 'btn btn-primary' %>
