<div class="ui segment">
  <div class="content">
    <div class="ui form">
      <%= form_with(model: subject) do |form| %>
        <div class="ui form">
          <% if subject.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

              <ul>
                <% subject.errors.each do |error| %>
                  <li><%= error.full_message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field">
            <%= form.label :code, 'Kód předmětu'  %>
            <div class="ui input">
              <%= form.text_field :code, placeholder: 'např. 4IZ110' %>
            </div>
          </div>

          <div class="field">
            <%= form.label :name, 'Název' %>
            <div class="ui input">
              <%= form.text_field :name %>
            </div>
          </div>

          <div class="actions form-group mt-3">
            <%= form.submit class: 'ui primary button' %>
          </div>
      <% end %>
      </div>
    </div>
  </div>
</div>