<h1>Předměty</h1>

<div>
  <%= link_to 'Přidat předmět', new_subject_path, class: 'ui green button' %>
</div>

<table class="ui celled table">
  <thead>
  <tr>
    <th>Kód předmětu</th>
    <th>Název</th>
    <th>Akce</th>
  </tr>
  </thead>

  <tbody>
  <% @subjects.each do |subject| %>
    <tr>
      <td><%= subject.code %></td>
      <td><%= subject.name %></td>
      <td>
        <%= link_to 'Upravit', edit_subject_path(subject), class: 'ui button' %>
        <%= link_to 'Smazat', subject, method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui red button' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
