<!DOCTYPE html>
<html>
  <head>
    <title>Studentský portál FIS VŠE</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <footer>
      <p>Aplikace je <a href="https://github.com/jirkavrba/studentsky-portal-fis-vse" target="_blank">open source</a></p>
    </footer>
  </body>
</html>
