<!DOCTYPE html>
<html>
<head>
  <title>Studentský portál FIS VŠE</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>
</head>

<body>
<header class="ui inverted relaxed segment">
  <div class="ui container">
    <h1 class="ui inverted huge text">Studentský portál</h1>
    <div class="ui huge text">Komunitní server pro studenty FIS VŠE v Praze</div>

    <div class="ui inverted secondary pointing menu">
      <%= link_to "Domovská stránka", root_url, class: 'active item' %>
      <% if authenticated? %>
        <%= link_to discord_url, class: 'item' do %><i class="discord icon"></i> Discord
        <% end %>
      <% end %>

      <div class="right menu">
        <% if authenticated? %>
          <% if current_user.is_admin %>
            <div class="ui dropdown item">
              <i class="wrench icon"></i>
              Administrace
              <i class="dropdown icon"></i>
              <div class="menu">
                <a class="item" href="<%= users_url %>"><i class="users icon"></i> Správa uživatelů</a>
                <a class="item" href="<%= api_tokens_url %>"><i class="key icon"></i> Správa API tokenů</a>
                <a class="item" href="<%= discord_servers_url %>"><i class="discord icon"></i> Správa Discord
                  serverů</a>
                <a class="item" href="<%= subjects_url %>"><i class="tags icon"></i> Správa předmětů</a>
              </div>
            </div>
          <% end %>
          <a href="<%= user_url(current_user) %>" class="item">
            <i class="<%= current_user.is_admin ? "red shield" : "user" %> icon"></i>
            <%= current_user.display_name %>
          </a>
          <%= link_to logout_url, class: "item" do %>
            <i class="sign out icon"></i> Odhlásit se
          <% end %>
        <% else %>
          <%= link_to sign_in_url, class: "item" do %>
            <i class="sign in icon"></i> Přihlásit se
          <% end %>
          <%= link_to sign_up_url, class: "item ui text blue" do %>
            <i class="user plus icon"></i> Registrace
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</header>
<main class="ui wide container">

  <% unless flash[:alert].nil? %>
    <div class="ui error message">
      <% if flash[:alert].respond_to?(:each) %>
        <div class="header">
          Během zpracování požadavku došlo k chybám
        </div>
        <ul class="list">
          <% flash[:alert].each do |alert| %>
            <li><%= alert %></li>
          <% end %>
        </ul>
      <% else %>
        <div class="header">
          <%= flash[:alert] %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% unless flash[:notice].nil? %>
    <div class="ui info message">
      <div class="header">
        <%= flash[:notice] %>
      </div>
    </div>
  <% end %>

  <div class="container horizontally">
    <%= yield %>
  </div>
</main>

<footer class="bg-dark py-3">
  <div class="container text-light">
    <div class="d-flex align-items-center justify-content-between">
      <div>
        <b>&copy; Jiří Vrba, Richard Kraus 2021</b><br>
        <a href="https://github.com/jirkavrba/studentsky-portal-fis-vse" target="_blank">Zdrojové kódy</a>
      </div>
    </div>
  </div>
</footer>
<script>
    $('.dropdown').dropdown();
</script>
</body>
</html>
