<!DOCTYPE html>
<html>
<head>
  <title>Studentský portál FIS VŠE</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>
</head>

<body style="min-height: 100vh; display: flex; flex-flow: column nowrap;">
<header class="ui inverted relaxed segment">
  <div class="ui container">
    <h1 class="ui inverted huge text">Studentský portál</h1>
    <div class="ui huge text">Komunitní server pro studenty FIS VŠE v Praze</div>

    <div class="ui inverted secondary pointing menu">
      <%= link_to "Domovská stránka", root_url, class: 'active item' %>
      <% if authenticated? %>
        <div class="ui dropdown item">
          <i class="student icon"></i>
          Studovna
          <i class="dropdown icon"></i>
          <div class="menu">
            <%= link_to testers_url, class: 'item' do %>
              <i class="check icon"></i> Testery
            <% end %>
            <a href="/test_results" class="item" id="rickroll-trigger">
              <i class="star icon"></i> Výsledky testů a leaknuté zkouškové otázky
            </a>
            <div class="ui basic modal" id="rickroll">
              <div class="content">
                <iframe width="1080" height="720" data-src="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
            <script>
              $(function () {
                  $("#rickroll-trigger").click(function (event) {
                      event.preventDefault();
                      const video = $("#rickroll iframe").first();

                      // Automatically play the video on modal trigger
                      video.attr("src", video.data("src"));
                      $("#rickroll").modal("show");
                  })
              })
            </script>
          </div>
        </div>
        <%= link_to discord_url, class: 'item' do %><i class="discord icon"></i> Discord<% end %>
      <% end %>

      <div class="right menu">
        <% if authenticated? %>
          <% if current_user.is_admin %>
            <div class="ui dropdown item">
              <i class="wrench icon"></i>
              Administrace
              <i class="dropdown icon"></i>
              <div class="menu">
                <a class="item" href="<%= users_url %>"><i class="users icon"></i> Správa uživatelů</a>
                <a class="item" href="<%= api_tokens_url %>"><i class="key icon"></i> Správa API tokenů</a>
                <a class="item" href="<%= discord_servers_url %>"><i class="discord icon"></i> Správa Discord
                  serverů</a>
                <a class="item" href="<%= subjects_url %>"><i class="tags icon"></i> Správa předmětů</a>
              </div>
            </div>
          <% end %>
          <a href="<%= user_url(current_user) %>" class="item">
            <i class="<%= current_user.is_admin ? "red shield" : "user" %> icon"></i>
            <%= current_user.display_name %>
          </a>
          <%= link_to logout_url, class: "item" do %>
            <i class="sign out icon"></i> Odhlásit se
          <% end %>
        <% else %>
          <%= link_to sign_in_url, class: "item" do %>
            <i class="sign in icon"></i> Přihlásit se
          <% end %>
          <%= link_to sign_up_url, class: "item ui text blue" do %>
            <i class="user plus icon"></i> Registrace
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</header>
<main class="ui wide container" style="flex-grow: 1;">
  <% unless flash[:alert].nil? %>
    <div class="ui error message">
      <% if flash[:alert].respond_to?(:each) %>
        <b>
          Během zpracování požadavku došlo k chybám
        </b>
        <ul class="list">
          <% flash[:alert].each do |alert| %>
            <li><%= alert %></li>
          <% end %>
        </ul>
      <% else %>
        <b>
          <%= flash[:alert] %>
        </b>
      <% end %>
    </div>
  <% end %>

  <% unless flash[:notice].nil? %>
    <div class="ui info message">
      <b>
        <%= flash[:notice] %>
      </b>
    </div>
  <% end %>

  <div class="container horizontally">
    <%= yield %>
  </div>
</main>

<footer class="ui secondary basic segment">
  <div class="ui container">
    <div class="ui secondary pointing above menu">
      <a href="https://github.com/jirkavrba/studentsky-portal-fis-vse" target="_blank" class="item">
        <i class="github icon"></i>
        Zdrojové kódy
      </a>
      <a href="https://github.com/jirkavrba/studentsky-portal-fis-vse/issues/new" target="_blank" class="item">
        <i class="bug icon"></i>
        Nahlásit chybu
      </a>
      <%# TODO: Add privacy policy %>
    </div>
    <b>&copy; Jiří Vrba, Richard Kraus 2021</b>
  </div>
</footer>
<script>
    $('.dropdown').dropdown();
</script>
</body>
</html>
