<!DOCTYPE html>
<html>
<head>
  <title>Studentský portál FIS VŠE</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</head>

<body>
<div class="d-flex flex-column" style="min-height: 100vh">
  <div class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container mt-3">
      <a class="navbar-brand" href="<%= root_url %>">
        <h1 class="h3">Studentský portál</h1>
        <p class="text-uppercase text-muted fw-bold fs-6">Komunitní server pro studenty FIS VŠE v Praze</p>
      </a>
    </div>
  </div>
  <div class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <ul class="nav">
        <li class="nav-item">
          <%= link_to "Domovská stránka", root_url, class: "nav-link text-black-50" %>
        </li>
        <% if authenticated? %>
          <li class="nav-item">
            <%= link_to "Discord ověření", discord_verification_url, class: "nav-link text-black-50" %>
          </li>
        <% end %>
      </ul>
      <ul class="nav ms-auto">
        <% if authenticated? %>
          <% if current_user.is_admin %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-black-50" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Administrace
              </a>
              <ul class="dropdown-menu" aria-labelledby="adminDropdown">
                <%= link_to "Správa uživatelů", users_url, class: "dropdown-item text-dark" %>
                <%= link_to "Správa API tokenů", api_tokens_url, class: "dropdown-item text-dark" %>
                <%= link_to "Správa Discord serverů", discord_servers_url, class: "dropdown-item text-dark" %>
              </ul>
            </li>
          <% end %>
          <li class="nav-item">
            <a href="#TODO_add-profile-link-here" class="nav-link <%= current_user.is_admin ? 'text-danger' : 'text-dark' %>">
              <%= current_user.display_name %>
            </a>
          </li>
          <li class="nav-item">
            <%= link_to "Odhlásit se", logout_url, class: "nav-link text-black-50" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Přihlášení", sign_in_url, class: "nav-link text-black-50" %>
          </li>
          <li class="nav-item">
            <%= link_to "Registrace", sign_up_url, class: "nav-link text-black-50" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <% unless flash[:alert].nil? %>
    <div class="alert alert-danger">
      <div class="container">
        <% if flash[:alert].respond_to?(:each) %>
          <% flash[:alert].each do |alert| %>
            <%= alert %><br>
          <% end %>
        <% else %>
          <%= flash[:alert] %>
        <% end %>
      </div>
    </div>
  <% end %>

  <% unless flash[:notice].nil? %>
    <div class="alert alert-info">
      <div class="container">
        <%= flash[:notice] %>
      </div>
    </div>
  <% end %>

  <div class="container my-3 flex-grow-1">
    <%= yield %>
  </div>

  <footer class="bg-dark py-3">
    <div class="container text-light">
      <div class="d-flex align-items-center justify-content-between">
        <div>
          <b>&copy; Jiří Vrba, Richard Kraus 2021</b><br>
          <a href="https://github.com/jirkavrba/studentsky-portal-fis-vse" target="_blank">Zdrojové kódy</a>
        </div>
      </div>
    </div>
  </footer>
</div>
</body>
</html>
